# filter project file
*.class
.project
.classpath
.settings/

# Package Files
*.jar
*.war
*.ear
*.iml
target/
.idea/

# mac os #
.DS_Store

# log #
/logs
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Archives template
# It's better to unpack these files and commit the raw source because
# git has its own built in compression methods.
*.7z
*.gz
*.tgz
*.bzip
*.bz2
*.xz
*.lzma
*.cab

out
